{% extends 'base.html' %}

THIS PAGE NEEDS WORK!
<!-- THERE IS AN INCONSISTENCY OF CURRENT USER AND THE USER THAT IS BEING VIEWED -->

{% block app_content %}
<div class="container">
    <h1>Profile page for {{ user.username }}</h1>
    {% if user.about_me %}
        <p><b>About me:</b> {{ user.about_me }}</p>
    {% endif %}
    <p><a href="{{ url_for('edit_profile') }}">Edit profile</a></p>
    <hr>
    <!-- THIS LOGIC DOES NOT WORK FOR OTHER USERS FIX IT!!!! -->
    <h3>Posts you've made:</h3><br>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
</div>
{% endblock %}